.navItem{
    
    padding: 0.5rem;
border: 1px solid rgba(255, 255, 255, 0);

    &:hover{
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.075);

}
}