.menuBox{
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.287);
padding:0.4rem;
visibility: hidden;

&:hover{
    background: rgba( 255, 255, 255, 0.2 );
}
}


@media screen and (max-width: 700px){
    .menuBox{
        visibility: visible;
    }
    .sideMenu{
        width: 100%!important;
    }
}